<!DOCTYPE html>
<html>
<head>
  <title>Santa's Workshop</title>

<rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>


  <h1 id="logo" class="page-title" >Santa's Workshop</h1>

  <nav id="menu">
    <a class="menu-item"><a href='/toys'>Toy Stock</a>
    <a class="menu-item"><a href='/toys/new'>Add new toy</a>
    <a class="menu-item"><a href='/departments'>Department List</a>
    <a class="menu-item"><a href='/departments/new'>Add new department</a></>


  <section id="content">
  </nav>
  <%= yield %>

</body>
</html>
