<!DOCTYPE html>
<html>
<head>
  <title>Santa's Workshop</title>
  <link href=""https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/toys'>Toy Stock</a></li>
    <li class="menu-item"><a href='/toys/new'>Add new toy</a></li>
    <li class="menu-item"><a href='/departments'>Department List</a></li>
    <li class="menu-item"><a href='/departments/new'>Add new department</a></li>
  </nav>
  <h1 id="logo">Santa's Workshop</h1>
  <%= yield %>

</body>
</html>
