<form method="post" action="/departments/<%= @department.id %>">
<label for="name-field">Name:</label>
<input
type="text"
name="name"
id="name-field"
value="<%= @department.name %>"
/>

<label for="number_of_elves-field">Number of elves:</label>
<input
type="number"
name="number_of_elves"
id="number_of_elves-field"
value="<%= @department.number_of_elves() %>"
/>

<input type='submit' value="Edit Department">
</form>
