<br>
<h2>Department List</h2>

<%@departments.each do |department| %>

<p><em>Name: </em><%=department.name %></p>
<p><em>Number of elves: </em><%=department.number_of_elves %></p>
<p><a href="/departments/<%= department.id %>">Click to edit</a></p>
<hr>

<%end%>
