<br>
<h2>Department List</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of elves</th>
      <th>Click to edit</th>
    </tr>
  </thead>

  <tbody>
    <%@departments.each do |department| %>
    <tr>
      <td><%=department.name %></td>
      <td><%=department.number_of_elves %></td>
      <td><a href="/departments/<%= department.id %>">Edit</a></td>
      <%end%>
    </tr>
  </tbody>
  <table>
