<form method="POST" action="/departments">

<label for="name">Name:</label>
<input type="text" name="name" id="name">

<label for="number_of_elves">Number of elves:</label>
<input type="number" min="0" name="number_of_elves" id="number_of_elves">

<input type="submit" value="Add department">

</form>
