<h2>Add new toy </h2>

<form method="POST" action="/toys">

<label for="name">Name:</label>
<input type="text" name="name" id="name">

<label for="description">Description:</label>
<input type="text" name="description" id="description">

<label for="stock_quantity">Stock quantity:</label>
<input type="number" min="0" name="stock_quantity" id="stock_quantity">

<label for="stock_target">Stock target:</label>
<input type="number" min="0" name="stock_target" id="stock_target">

<label for="value">Value (GWP):</label>
<input type="number" min="0" name="value" id="value">

<label for="department_id">Department id:</label>
<input type="number" name="department_id" id="department_id">

<input type="submit" value="Submit">

</form>
